*{
   
 padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}
body{
    background-color: #f5f5f5;
    width: 1020px;
    margin: 50px 130px;
}
        /* Header section start here */
header{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:300px;
}
.logo h1{
font-size: 25px;
}

nav ul{
    text-decoration: none;
    display: flex;
    
}

nav ul li{
    margin-left: 50px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

nav ul li a:hover{
    color: red;
    transition: all 0.5s ease;
}

nav ul .signBtn{
    border: 1.5px solid #006a50;
    padding: 10px 20px;
    color: #006a50;
    border-radius: 6px;
    font-weight: 500;
}
nav ul .signBtn:hover{
    border: 1.5px solid #006a50;
    color: #fff;
    background-color: #006a50;
    transition: all 0.5s ease;
}

     /* Banner section start here */

main .bannerBd{
    height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c6e4d6;
    padding: 20px;
    border-radius: 20px;
    margin: 40px 0px;
}

.bannerBd .text span{
    font-size: 18px;
    opacity: 0.6;
    
}

.bannerBd .text h3{
    font-size: 45px;
    margin: 20px 0px 40px 0px;
}
.bannerBd .text .expBtn{
    text-decoration: none;
    color: #fff;
    background-color: #006a50;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 10px;
}
.bannerBd .image img{
    width: 400px;
}


/* Bangladesh 2.0 Pillars section start here */
.pillars{
    margin: 40px 0px;
}

.pillars .text h3{
    font-size: 32px;
    margin-bottom: 30px;
}

.pillars .plBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pillars .plBox .plCard{
    width: 240px;
    background-color: #fff;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1);
    padding: 25px 20px;
    border: 1.5px solid rgba(0,0,0,0.1);
    border-radius: 10px;
}
.pillars .plBox .plCard img{
    width: 50px;
}
.pillars .plBox .plCard h4{
    font-size: 16px;
    margin: 10px 0px;
}
.pillars .plBox .plCard p{
    font-size: 13px;
    color: #000000a1;
    line-height: 18px;
}

   /* Vision Section start here */

.vision .text h3{
    font-size: 32px;
    margin: 20px 0px;
}
.vision .text p{
    font-size: 14px;
    color: #000009a7;
}

.vision .card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0px;
}
.vision .card .visionCard{
    width: 320px;
    height: 250px;
    padding: 30px;
    border-radius: 20px;
}
.vision .card .card1{
    background-color: #d5e1f5;
}
.vision .card .card2{
    background-color: #c6e4d6;
}
.vision .card .card3{
    background-color: #f7ebcf;
}
.vision .card img{
    width: 50px;
}
.vision .card .visionCard h4{
    font-size: 16px;
    margin: 10px 0px;
}
.vision .card p{
    font-size: 13px;
    color: #000000a1;
    line-height: 18px;
    margin: 10px 0px;
    height: 70px;
}
.vision .card .visionCard a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 450;
}
.vision .card .visionCard .learn1{
    background-color:#5490f5 ;
}
.vision .card .visionCard .learn2{
    background-color:#09a15c;
}
.vision .card .visionCard .learn3{
    background-color:#ffc239 ;
}

/* Quote section start here */

.quote{
    width: 100%;
    height: 200px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0.5px 0.5px 1px 0 rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 15px;
    color: #000009a7;
    margin: 20px 0px 60px 0px;
}
.quote .bg{
    background-image: url("assets/quote-bg.png");
    background-repeat: no-repeat;
    background-size: 50px;
}

.quote p{
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0px;
}
.quote h5{
    font-size: 18px;
    margin-bottom: 10px;
}
.quote span{
    font-size: 12px;
}

  /* Recent news section start here */

  .title h3{
    font-size: 32px;
    margin: 15px 0px;
  }
.title p{
    font-size: 14px;
    color:rgba(0, 0, 0, 0.626);
    line-height: 18px;
    margin: 20px 0px;
}
.recentNews .blog{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin: 25px 0px;
}
.recentNews .blog .img img{
    width: 320px;
    margin-right: 50px;
    border-radius: 20px;
}
.recentNews .blog .text h4{
    font-size: 28px;
    margin-bottom: 10px;
}
.recentNews .blog .text img{
    width: 120px;
    margin-bottom: 10px;
}
.recentNews .blog .text p{
    font-size: 13px;
    margin: 0px 0px 5px 0px;
    line-height: 20px;
    color: #000009a7;
}
.recentNews .blog .text a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 13px;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: 450;
    background-color: #006a50;
    margin-top: 10px;
}


/* Donate section start here */

.donate{
    width: 820px;
    margin-left: auto;
    margin-right: auto;
}
.donate .title12{
    margin: 15px 0px;
    text-align: center;
}
.donate .title12 h3{
    font-size: 32px;
    margin: 15px 0px;
    text-align: center;
}

.donate .title12 p{
    font-size: 14px;
    color:rgba(0, 0, 0, 0.626);
    line-height: 18px;
    margin: 20px 0px;
}

.donate .amount{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.donate .amount p{
    font-size: 30px;
    font-weight: 500;
    background-color: #fff;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1);
    padding: 35px 25px;
    border: 1.5px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    width: 190px;
    text-align: center;
}

.donate .amount .bg{
    background-color: #c6e4d6;
}
.input input[type="text"]{
    width: 100%;
    height: 50px;
    background-color: #fff;
    outline: none;
    border: 1.5px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    
    text-align: center;
}

.input input[type="text"]::placeholder{
    font-size: 16px;
}

.input input[type="submit"]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 13px 20px;
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 450;
    outline: none;
    border: none;
    background-color: #006a50;

}

/* subscribe section start here */
.subscribe{
    height: 300px;
    background-color: #c6e4d6;
    text-align: center;
    margin: 20px 0px;
    border-radius: 15px;
    padding:20px
}
.subscribe h3{
    font-size: 32px;
    margin: 20px 0px;
}
.subscribe .subT p{
    font-size: 14px;
    color: #000000a1;
    margin: 20px 0px;
    
}

.inputs input[type="email"]{
    width: 350px;
    height: 40px;
    padding: 10px 20px;
    background-color: #fff;
    outline: none;
    border: 1.5px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    
    text-align: center
}

.inputs input[type="submit"]{
   
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 450;
    outline: none;
    border: none;
    background-color: #006a50;
    margin-left: -8px;

}
.inputs input[type="email"]::placeholder{
    font-size: 16px;
}


/* footer start here */
footer{
    
    width: 100%;
    height: 60px;
    align-items: center;
    margin-top: 30px;
}
.footers{
    color: #fff;
    font-size: 32px;
    text-align: center;
    background-color: #000;
    padding: 30px 0px;
}