*{
   
 padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}
body{
    background-color: #f5f5f5;
}
        /* Header section start here */
header{
    display: flex;
    margin: 30px 130px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:300px;
}
.logo h1{
font-size: 25px;
}

nav ul{
    text-decoration: none;
    display: flex;
    
}

nav ul li{
    margin-left: 50px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

nav ul li a:hover{
    color: red;
    transition: all 0.5s ease;
}

nav ul .signBtn{
    border: 1.5px solid #006a50;
    padding: 10px 20px;
    color: #006a50;
    border-radius: 6px;
    font-weight: 500;
}
nav ul .signBtn:hover{
    border: 1.5px solid #006a50;
    color: #fff;
    background-color: #006a50;
    transition: all 0.5s ease;
}

     /* Banner section start here */

main .bannerBd{
    width: 1020px;
    height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c6e4d6;
    margin: 40px 130px;
    padding: 20px;
    border-radius: 20px;
}

.bannerBd .text span{
    font-size: 18px;
    opacity: 0.6;
    
}

.bannerBd .text h3{
    font-size: 45px;
    margin: 20px 0px 40px 0px;
}
.bannerBd .text .expBtn{
    text-decoration: none;
    color: #fff;
    background-color: #006a50;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 10px;
}
.bannerBd .image img{
    width: 400px;
}


/* Bangladesh 2.0 Pillars section start here */

.pillars{
    width: 1020px;
    margin: 50px 130px;
}

.pillars .text h3{
    font-size: 32px;
    margin-bottom: 30px;
}

.pillars .plBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pillars .plBox .plCard{
    width: 240px;
    background-color: #fff;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1);
    padding: 25px 20px;
    border: 1.5px solid rgba(0,0,0,0.1);
    border-radius: 10px;
}
.pillars .plBox .plCard img{
    width: 50px;
}
.pillars .plBox .plCard h4{
    font-size: 16px;
    margin: 10px 0px;
}
.pillars .plBox .plCard p{
    font-size: 13px;
    opacity: 0.5;
    line-height: 18px;
}






